<distributorInfo>
  <distributor>urn:uuid:5f5511a3-af94-4ac9-8cd7-16463a162d82</distributor>
  <ordersource>Test</ordersource>
  <sharedSecret>N6KbEnzivYFiRZdZSwp21hU2fvg=</sharedSecret>
  <linkURL>http://dans-win7.dlogics.com:8080/fulfillment/URLLink.acsm</linkURL>
  <operatorURL>http://dans-win7.dlogics.com:8080/admin</operatorURL>
</distributorInfo>